
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.circle {
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
  animation: bounce 1s infinite alternate;
}

.small-square {
  width: 60px;
  height: 60px;
  background: blue;
  animation: rotate 2s linear infinite;
}


.square {
  width: 100px;
  height: 100px;
  background: green;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-60px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
