body {
    font-family: "Segoe UI", sans-serif;
    padding: 40px;
    text-align: center;
}

.title {
    font-size: 45px;
    font-weight:500;
    text-shadow: 0px 0px 05px #000;
}

.soft-text {
    font-size: 14px;
    color: #777;
    margin-top: 20px;
    text-align: justify;
}

.bold-loud {
    font-size: 22px;
    font-weight: 500;
    display: inline;
    color: black;
    text-align: justify;
}

.glow {
    font-size: 20px;
    font-weight: bold;
    color: #00bfff; 
    text-shadow:
        0 0 5px white,        
        0 0 10px white,      
        0 0 15px #00bfff,     
        0 0 25px #00bfff,     
        0 0 35px #00bfff;     
}

.para {
    max-width: 800px;
    margin: 20px auto;
    font-size: 16px;
    line-height: 1.7;
    text-align: justify;
    text-indent: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.align-left {
    text-align: left;
    text-indent: 60px;
}

.align-center {
    text-align: center;
    margin-top: 10px;
}

.align-right {
    text-align: right;
    margin-top: 10px;
}

.rainbow {
  font-size: 32px;
  text-align: center;
  padding-bottom: 4px;
  display:inline-block;


  border-bottom: 5px solid;
  border-image: linear-gradient(to right,
    red, orange, yellow, green, blue, indigo, violet
  ) 1;
}

