* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    background-color: #37474f;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.header h1 {
    margin-bottom: 10px;
}

.header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
}

/* Sections */
.section {
    padding: 30px;
}

.section h2 {
    margin-bottom: 20px;
}

/* Paragraph with units */
.unit-para {
    background: #eeeeee;
    padding: 1.5em;
    margin-top: 1rem;
    border-radius: 6px;
}

/* Boxes */
.box {
    width: 100px;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* Box colors */
.box-1,
.box-3 {
    background-color: #37474f;
}

.box-2 {
    background-color: #d9534f;
    margin: 0 auto 20px;
}

/* Section 2 layout */
.box-container {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
}

/* Styled text */
.styled-text {
    background: #eeeeee;
    padding: 15px;
    font-family: "Courier New", monospace;
    color: #b71c1c;
    border-radius: 6px;
    margin-bottom: 10px;
}


.link {
    color: #1976d2;
    text-decoration: underline;
    font-size: 14px;
}


.footer {
    background-color: #37474f;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
