div{
    color:blue;
}
.bedroom{
    background-color: lightblue;
}
#kitchen{
    color:orange;
}
.house>div{
    background-color: lightgray;
}
.living-room + div {
    background-color: green;
}
#kitchen ~ div {
    background-color: lightpink;
}