*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#grid-container{
    width: 100%;
    height: 100vh;
    background-color: navy;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px 80px 50px;
    
}
.grid-items{
    border: 2px solid black;
    background-color: lightblue;
    padding: 20px;
    font-family: cursive;
    text-align: center;
}